{{#if signUpForm}}
  <h3>Please <a href="#" {{action "toggleSignUpForm"}} class="trigger-login-form">Login</a> or Sign Up</h3>
{{else}}
  <h3>Please Login or <a href="#" {{action "toggleSignUpForm"}} class="trigger-signup-form">Sign Up</a></h3>
{{/if}}
<div class="row">
  {{#unless signUpForm}}
    {{#bs-form model=this action="login"}}
      {{bs-form-element controlType="email" label="Email" property="email" id="login-email"}}
      {{bs-form-element controlType="password" label="Password" property="password" id="login-password"}}
      {{bs-button defaultText="Login" type="primary" buttonType="submit" id="login-button"}}
    {{/bs-form}}
  {{else}}
    {{#bs-form model=this action="signUp"}}
      {{bs-form-element controlType="text" label="First Name" property='firstName' id="signup-first-name"}}
      {{bs-form-element controlType="text" label="Last Name" property='lastName' id="signup-last-name"}}
      {{bs-form-element controlType="email" label="Email" property='email' id="signup-email"}}
      {{bs-form-element controlType="password" label="Password" property='password' id="signup-password"}}
      {{bs-form-element controlType="password" label="Confirm Password" property='passwordConfirmation' id="signup-password-confirm"}}
      {{bs-button defaultText="Sign Up" type="primary" buttonType="submit"}}
    {{/bs-form}}
  {{/unless}}
</div>
