<div class="list-group-item package-cart-list-item {{if isMenuToggled 'open'}}" {{action "toggleMenu"}}>
  {{item}}
  <span class="show-menu">
    {{fa-icon "chevron-right" tagName="span" size="lg"}}
  </span>
  <ul class="list-group-submenu">
    <li class="list-group-submenu-item danger" {{action "removePackage" item}}>{{fa-icon "times" tagName="span"}}</li>
    <li class="list-group-submenu-item success" {{action "checkPackage" item}}>{{fa-icon "check" tagName="span"}}</li>
  </ul> <!-- /submenu -->
</div> <!-- /list-group-item -->
