{{#bs-form action="submitPackage"}}
  {{#bs-form-group}}
    <label class="control-label">Package Name</label>
    {{bs-input type="text" value=name}}
    <label class="control-label">Version</label>
    {{bs-input type="text" value=version}}
    <label class="control-label">Title</label>
    {{bs-input type="text" value=title}}
    <label class="control-label">Description</label>
    {{bs-input type="text" value=description}}
    <label class="control-label">Publication Date</label>
    {{bs-input type="text" value=publicationDate}}
  {{/bs-form-group}}
  {{bs-button defaultText="Add Package" type="primary" buttonType="submit"}}
{{/bs-form}}
