<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{link-to "R Package Manager" "packages" class="navbar-brand"}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      {{#if session.isAuthenticated}}
        <ul class="nav navbar-nav navbar-right">
          <li>
            {{#link-to "package-search"}}
              {{fa-icon "search" size="lg"}} Search for Packages
            {{/link-to}}
          </li>
          <li>{{bs-button class="navbar-btn" defaultText="Logout" type="primary" action="logOut"}}</li>
        </ul>
      {{else}}
        <ul class="nav navbar-nav navbar-right">
          <li>{{bs-button class="navbar-btn" defaultText="Login" type="primary" action="login"}}</li>
        </ul>
      {{/if}}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  {{outlet}}
</div>
